@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200;500&display=swap');
@font-face {
    font-family: 'Lalezar';
    src: url('assets/Lalezar-Regular.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

*{
    font-family: 'Vazirmatn', sans-serif;
}
